body {
    background-color: #fffefc;
}
.book-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}
.my-booklist {
    display: flexbox;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 33vw;
    height: 300px;
    overflow-y: scroll;
    scrollbar-color: rgb(248, 244, 244) green;
    scrollbar-width: thin;
    font-family: 'Cormorant Garamond', serif;
    margin: auto;
    padding: 0px 30px 0px 50px;
}
.friends-books {
    display: flexbox;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 25vw;
    height: 300px; 
    overflow-y: scroll;
    scrollbar-color: rgb(248, 244, 244) green;
    scrollbar-width: thin;
    font-family: 'Cormorant Garamond', serif;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 35px;
    border-color: #af1b0a;
    padding: 0px 30px 0px 50px;
}
.book-item {
    /* border-bottom: 1px solid #c4c4c4; */
}
.my-header{
    display: flex;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-variant: small-caps;
    font-size: 12pt;
    color:  #af1b0a;
    margin-left: 45px;
    margin-bottom: 175px;
}
.friends-header {
    display: flex;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-variant: small-caps;
    font-size: 12pt;
    color:  #af1b0a;
    margin-left: 45px;
    margin-bottom: 175px;
}
.book-list-item {
    display:flexbox;
    align-items: flex-start;
    justify-content: space-evenly;
}

.list-title {
    font-variant:small-caps;
    font-size: 18pt;
    font-kerning: 5pt;
}